@charset "UTF-8";

/*
paletas de cores:

descubro depois
*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100vw;
    background-color: rgba(65, 1, 139, 0.529)
    
}
p#texto{
    text-align: justify;
    font-size: 0.8em;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3em;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.518);

    transition: width 0.4s, height 0.7s;
    transition-timing-function: ease;
}
input#email, input#senha{
    border-radius: 9px;
    padding: 5px;
    padding-top: 13.5px;
    margin-bottom: 4px;
    background-color: rgba(182, 160, 206, 0.704);

}
p.campo{
    background-color: rgba(81, 41, 124, 0.704);
    border-radius: 5px;
    display: block;
    height: 40px;
    margin: 5px 0px;
}
span#campo{
    padding: 6.5px;
    padding-bottom: 8.5px;
    padding-right: 18px;
    border-radius: 9px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
section#login > div#imagem{
    display: block;
    background: url(../imagens/pexels-jacint-bofill-18002073.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}
input#enviar{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #43685bfb;
    color: white;
    border: none;
    border-radius: 5px;
}
input#enviar:hover{
    background-color: #6cb098fb;
    color: black;
    cursor: pointer;
}
a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: ;
    background-color: white;
    color: #31443dde;
    border-radius: 5px;
    border: 1px solid #6cb098fb;
    text-decoration: none;
}
a.botao:hover{
    background-color: #3b6053fb;
    color: #8be7c7c9;
}
